<h1>Active Cases</h1>

<table class="table">
  <thead>
    <tr>
      <%# <th scope="col">#</th> %>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Deadline</th>
    </tr>
  </thead>
  <tbody>
  <% @cases.each do |c| %>
  <%if not c.is_closed%>
    <tr>
      <%# <th scope="row">1</th> %>
      <td><a href="/cases/<%= c.id %>"><%= c.title %></td>
      <td><%= c.description %></td>
      <td><%= c.deadline %></td>
    </tr>
    <%end%>
    <%end%>
  </tbody>
</table>

